#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_grumpycoin
#build/grumpycoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_grumpycoin)

DEB_INSTALL_EXAMPLES_grumpycoind += debian/examples/*
DEB_INSTALL_MANPAGES_grumpycoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix grumpycoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f grumpycoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake grumpycoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_grumpycoin
	src/test_grumpycoin

# Ensure wrapper is set executable
binary-post-install/grumpycoind:
	chmod +x $(cdbs_curdestdir)usr/bin/grumpycoind
binary-post-install/grumpycoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/grumpycoin-qt
